/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    background-color: #fbfaea;
    font-family:'Poiret One', sans-serif;
    max-width: 100%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}