.head {
    font-size: 25px;
    padding: 10px;
}

@font-face {
    font-family: bamboobrisk;
    src: url(/assets/Bamboo_Brisk.otf) format("opentype");
  }

.story {
    font-family:'bamboobrisk', sans-serif; 
}

.head h2{
    left: 100px;
}

.fuocoicon-container img {
    width: 100px;
}

#info-container {
    position: absolute;
    right: 30px;
    top: 0px;
}

.schedule-button  {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    border: 1px solid black;
    background: #fbfaea; 
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 200ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.schedule-button:hover { background: #e2ca6b;}
.active
{
    background: #e2ca6b;
    outline-offset: -4px;
}

.schedule-button:active {
    transform: scale(0.99);
}

.main {
    text-align: center;
}

.schedule-button-container {
    padding-top: 40px;
}

#icon {
    position: relative;
    width: 140px;
    left: 20px;
}

.locicon {
    max-width: 23px;
}

.mailicon {
    max-width: 20px;
}

.instaicon {
    max-width: 20px;
}


.info-text {
    font-size: 15px;
    bottom: 5px;
    position: relative;
    font-family: 'Indie Flower', sans-serif;
}

.mail-icon-container {
    position: relative;
    top: 20px;
    right: 30px;
}

.loc-icon-container {
    position: relative;
    top: 20px;
    right: 32px;
}

.insta-icon-container {
    position: relative;
    top: 20px;
    right: 30px;
}

#insta-info-container {
    position: relative;
    bottom: 50px;
}

#mail-info-container {
    position: relative;
    bottom: 25px;
}

#fuoco {
    position: relative;
    left: 60px;
}

#takes-a-minute {
    position: relative;
    top: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 800px) {
    #mail-info-container {
        position: relative;
    }

    #info-container {
        right: 15px;
    }
    
    .locicon {
        max-width: 18px;
        margin-top: 10px;
    }
    
    .mailicon {
        max-width: 15px;
    }

    .instaicon {
        max-width: 15px;
    }

    .info-text {
        font-size: 12px;
    }

    #icon {
        position: relative;
        width: 80px;
        left: 5px;
        padding-bottom: 10px;
    }

    .main {
        padding: 20px;
    }
    
  }