.head {
    font-size: 25px;
    padding: 50px;
}

.schedule-button  {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ffe578;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 200ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.schedule-button:hover { background: #e2ca6b;}
.active
{
    background: #e2ca6b;
    outline-offset: -4px;
}

.schedule-button:active {
    transform: scale(0.99);
}

.main {
    text-align: center;
}

.schedule-button-container {
    padding-top: 100px;
}

.lemonicon-container {
position: absolute;
top: -9px;
z-index: -99;
padding: 35px;
}

#lemonicon {
    height: 110px;
    width: 150px ;
}

