<!--The content below is only a placeholder and can be replaced.-->
<div class="head">
        <div class="fuocoicon-container">
                <img id="icon" src="../assets/afuocologo.png">
        </div>
        <div id="info-container"> 
                <div id="loc-info-container">
                        <div class="loc-icon-container"><img class="locicon" src="../assets/locblack.png"></div>
                        <div class="info-text"> Hertzel - Rothschild Area, Tel Aviv</div>
                </div>
                <div id="mail-info-container">
                        <div class="mail-icon-container"><img class="mailicon" src="../assets/gmailblack.png"> </div>
                        <div class="info-text"> Pilatesafuoco@gmail.com </div>
                </div>
                <div id="insta-info-container">
                        <div class="insta-icon-container"><img class="instaicon" src="../assets/insta.png"> </div>
                        <div class="info-text"> Pilatesafuoco </div>
                </div>
        </div>
</div>

<div class="main">
        <div class="story"> <h2> Challenging, super fun, and satisfying pilates </h2> </div>
        <div class="schedule-button-container">
            <button class="schedule-button" [class.active]="formOpen" (click)="onRequestFormClick()"> {{scheduleButtonText}} </button>
            <div id="takes-a-minute" *ngIf="!formOpen && scheduleButtonText == scheduleClassText"> Takes less than a minute</div>
        </div>
</div>
<ngx-loading [show]="loading" [config]="{'fullScreenBackdrop':false, 'backdropBackgroundColour': 'rgba(0,0,0,0)'}"></ngx-loading>
<app-schedule-form  [slots]="slots" (submitPayload)="scheduleSlot($event)" *ngIf="formOpen && scheduled==false"></app-schedule-form>
<app-summary-page *ngIf="scheduled" [summaryData]="summaryData" > </app-summary-page>

<router-outlet></router-outlet>