input {
    outline: none;
    max-width: 200px;
    max-height: 25px;
}

p {
    font-size: 10px;
}

#schedule-form {
    max-height: 500px;
}

.form-group {
    position: relative;
    max-width: 200px;
}

.personal-info {
    position: relative;
    left: 20%;
}

.attendee-ico {
    max-width: 40px;
    margin: auto;
}

.submit-button {
    box-sizing: border-box;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: white;
    background: #88cc74;
    outline: none;
    position: relative;
    text-align: center;
    cursor: pointer;
}


#session-grid {
    max-width:  600px;
    position: relative;
    left: 25%;
}

.form {
    display: inline-flex;
    width: 100%;
    padding: 25px 0px 20px 0px;
}

.session-box:hover {
opacity: 0.6;
border-radius: 5px;
}

.session-box {
    position: relative;
    width: 100px;
    height: 195px;
    border: 1px solid white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    font-size: 13px;
}

.nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }

  .prev-slide {
    background: url(../../../assets/arrow-left.png) no-repeat scroll 0 0;
    left: -33px;
  }
   
  .next-slide {
    background: url(../../../assets/arrow-right.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
   
  .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .next-slide:hover {
    background-position: -24px -53px;
  }

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
}                   

.slick-slider {
    outline: none;
    max-width: 700px;
    position: relative;
  }  

  .slick-slide {
      outline: none;
  }

.session-box::after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(252, 238, 112);
    transform-origin:left;
    transition:width 0.1s ease;
    z-index:-1;
  } 

  .active {
    background-color: rgb(252, 238, 112);
}
  
  .session-box:hover::after {
    width: 100%;
  }