<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<div class="form">
    <div class="personal-info">
        <div class="form-group">
                <label>FULL NAME *</label>
                <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                    <div *ngIf="f['fullName'].errors.required"></div>
                </div>
        </div>
        <div class="form-group">
                <label>PHONE *</label>
                <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                    <div *ngIf="f['phone'].errors.required"></div>
                </div>
        </div>
            <div class="form-group">
                <label>EMAIL</label>
                <label id="email-guide">  &nbsp; (no spam)</label>
                <input type="text" formControlName="email" class="form-control" />
            </div>
    </div>
    <div id="session-grid">
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig">
                <div ngxSlickItem class="session-box" *ngFor="let slot of _slots; let i = index">
                    <div id="slot-header"><b>{{slot[0]}}</b></div>
                    <div id="hours-container"  ngx-auto-scroll lock-y-offset="50">
                        <div id="hours" [class.disabled]="!slotHour['id']" (click)="chosenHour = slotHour['start']; chosenEventId = slotHour['id']; chosenSlot = slot;" [class.active]="chosenHour == slotHour['start'] && chosenSlot == slot" *ngFor="let slotHour of slot[1];"> {{slotHour['start']}}</div>
                        <div>
                            <div class="attendees-header" *ngIf="chosenSlot == slot"> Participants </div>
                            <div class="attendees-header" *ngIf="chosenSlot == slot"> x </div>
                            <div id="attendee" *ngFor="let i of [1,2,3];" (click)="selectedAttendees = i;">
                            <img class="attendee-ico" *ngIf="chosenSlot == slot" [src]="selectedAttendees >= i ? attendeeSelectedSlot : attendeeSlot"></div>
                        </div>
                    </div>
                </div> 
            </ngx-slick-carousel>
    </div>
</div>
<div id="request-class"> Looking for another time? Contact 0512735523 </div>
    <div class="submit-button" [class.invalid]="registerForm.status == 'INVALID' || !this.chosenSlot" (click)="onSubmit()">Confirm</div>