input {
    outline: none;
    max-width: 200px;
    max-height: 25px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
background: inherit;
border-radius: 1px;
border-bottom-color: #e2ca6b;
border-top: none;
border-left: none;
border-right: none;
}

p {
    font-size: 10px;
}

#email-guide {
  font-size: 11px;
}

#schedule-form {
    max-height: 500px;
}

#hours {
 border: 1px solid #e3e3e3;
 margin: auto; 
}

#hours-container {
  max-height: 90%;
  position: relative;
  overflow-y: auto;
}

#slot-header {
  font-size: 17px;
  cursor: initial;
}

#hours:hover {
  background-color: rgb(241, 236, 189);
 }

 .attendees-header {
   position: relative;
   top: 2px;
   font-size: 11px;
 }

.form-group {
    position: relative;
    max-width: 200px;
}

.attendee-ico {
    max-width: 30px;
    margin: auto;
}

.submit-button {
  box-sizing: border-box;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: black;
  background: #fbfaea; 
  border: 1px solid black;
  outline: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  /* top: 10px; */
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.invalid {
  color: #c9c9c9;
  border: 1px solid #c9c9c9;
  cursor: default;
}


#session-grid {
    max-width:  600px;
    margin: 0 5px;
}

.form {
    display: inline-flex;
    width: 100%;
    padding: 25px 0px 20px 0px;
    justify-content: center;
    font-family: 'Indie Flower', sans-serif;
}


.personal-info {
  margin: 0 25px;
  font-size: 18px;
}

.session-box:hover {
opacity: 1;
border-radius: 5px;
}

.session-box {
    position: relative;
    width: 100px;
    height: 250px;
    border: 1px solid white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    font-size: 18px;
    opacity: 0.65;
}
  .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .next-slide:hover {
    background-position: -24px -53px;
  }

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
}                   

 .slick-slider {
    width: 600px;
    outline: none;
    position: relative;
  }  


  .slick-slide {
      outline: none;
      width: 800px;
  }

  .active {
    background-color: rgb(252, 238, 112);
}


@media only screen and (max-width: 800px) {
  .form {
    flex-direction: column;
  }
  .slick-slider {
    max-width: 100%;
  }
  #session-grid {
    position: initial;
  }
  .personal-info {
    margin: 0 auto;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}