input {
    outline: none;
    max-width: 200px;
    max-height: 25px;
}

p {
    font-size: 10px;
}

#schedule-form {
    max-height: 500px;
}

#hours {
 border: 1px solid #e3e3e3;
 margin: auto; 
}

#hours-container {
  max-height: 90%;
  position: relative;
  overflow-y: auto;
}

#slot-header {
  font-size: 14px;
}

#hours:hover {
  background-color: rgb(241, 236, 189);
 }

 .attendees-header {
   position: relative;
   top: 2px;
   font-size: 11px;
 }

.form-group {
    position: relative;
    max-width: 200px;
}

.personal-info {
    position: relative;
    left: 20%;
}

.attendee-ico {
    max-width: 30px;
    margin: auto;
}

.submit-button {
  box-sizing: border-box;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: black;
  background: #fbfaea; 
  border: 1px solid black;
  outline: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  top: 30px;
  max-width: 300px;
  margin: auto;
}

.invalid {
  color: #c9c9c9;
  border: 1px solid #c9c9c9;
  cursor: default;
}


#session-grid {
    max-width:  600px;
    position: relative;
    left: 20%;
}

.form {
    display: inline-flex;
    width: 100%;
    padding: 25px 0px 20px 0px;
}

.session-box:hover {
opacity: 1;
border-radius: 5px;
}

.session-box {
    position: relative;
    width: 100px;
    height: 250px;
    border: 1px solid white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    font-size: 13px;
    opacity: 0.65;
}
  .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .next-slide:hover {
    background-position: -24px -53px;
  }

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
}                   

 .slick-slider {
    width: 600px;
    outline: none;
    position: relative;
  }  


  .slick-slide {
      outline: none;
      width: 800px;
  }

  .active {
    background-color: rgb(252, 238, 112);
}